* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 0;
  list-style: none;
  text-decoration: none;
}

:root {
  font-size: 62.5%;
  font-family: "Inter", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  font-size: 1.6rem;
}

header {
  background: #f9f9f9;
  border-bottom: 0.1rem solid #00000010;
}

.container {
  max-width: 121.6rem;
  width: 100%;
  margin: 0 auto;
  padding: 12.8rem 0;
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.6rem 0;
}

header .container .logo h1 {
  color: #202124;
  font-style: italic;
  font-size: 1.6rem;
}

header .container nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3.2rem;
}

header .container nav ul {
  display: flex;
  gap: 3.2rem;
}

header .container nav ul li a {
  color: #202124;
}

header .container nav ul li a:hover {
  color: #6246ea;
}

button {
  font-family: "Inter", sans-serif;
  font-size: 1.6rem;
  cursor: pointer;
  width: fit-content;
}

.btn-primary {
  color: #fff;
  background: #6246ea;
  padding: 1.6rem;
  border-radius: 0.2rem;
  transition: box-shadow 0.3s;
}

.btn-primary:hover {
  box-shadow: #6246ea 0px 0px 8px 0px;
}

.btn-secondary {
  color: #202124;
  background: #fff;
  padding: 1.6rem;
  border-radius: 0.2rem;
  transition: box-shadow 0.3s;
}

.btn-secondary:hover {
  box-shadow: #fff 0px 0px 8px 0px;
}

.main .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main .container .text {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

.main .container .text h1 {
  font-size: 5.6rem;
  color: #202124;
  max-width: 56rem;
  line-height: 5.6rem;
}

.main .container .text p {
  color: #202124;
  max-width: 56rem;
}

.main .container .man img {
  max-width: 56rem;
}

span {
  color: #6246ea;
}

#about {
  display: flex;
  align-items: center;
  background: #6246ea;
}

#about .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3.2rem;
}

#about .container h2 {
  font-size: 5.6rem;
  color: #fff;
}

#about .container p {
  color: #fff;
}

#technologies {
  display: flex;
  align-items: center;
}

#technologies .container .cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.6rem;
}

#technologies .container .cards .card {
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
  border: 0.2rem solid #00000010;
  border-radius: 0.2rem;
  padding: 1.6rem;
  transition: background 0.3s;
}

#technologies .container .cards .card:hover {
  background: #f9f9f9;
}

#technologies .container .cards .card p {
  color: #202124;
}

#technologies .container .cards .card ion-icon {
  font-size: 6.4rem;
  color: #6246ea;
}

footer {
  background: #202124;
  color: #fff;
}

footer .footer-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  gap: 1.6rem;
  padding: 1.6rem 0;
}

footer .footer-content p {
  max-width: 50rem;
}

footer .footer-content ul {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1.6rem;
}

footer .footer-content ul a {
  display: flex;
  color: #fff;
  font-size: 3.2rem;
  transition: color 0.3s;
}

footer .footer-content ul a:hover {
  color: #6246ea;
}

footer .footer-bottom {
  background: #00000010;
  padding: 1.6rem 0;
  text-align: center;
}

footer .footer-bottom a {
  color: #fff;
  transition: color 0.3s;
}

footer .footer-bottom a:hover {
  color: #6246ea;
}
